<app-header></app-header>
<!--第一个 jumbotron 用于铺个底-->
<div class="jumbotron" style="margin-bottom: auto; height: 100%; width: 100%; position: absolute"></div>
<div class="jumbotron" style="margin-bottom: auto; height: auto; width: 100%; position: absolute" align="center">
  <div style="margin-top: 70px;">
    <h1><b style="font-size: 8rem;">404</b></h1>
    <h3 style="margin-top: 40px;">如果你觉得这是一个问题，请在 GitHub 给我们提一个
      <a href="https://github.com/EasyCI/easy-ci-web" target="_blank"><b> issue</b></a>
    </h3>
    <hr class="my-xl-4">
    <p style="margin-left: -80px;">
      可能原因： 网络信号弱<br>
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;找不到请求页面<br>
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;输入的网址不正确<br>
    </p>
    <button class="btn btn-primary btn-lg" routerLink="/" style="margin-top: 10px;">回首页</button>
  </div>
</div>
