<app-header></app-header>
<div class="jumbotron" style="margin-bottom: auto; height: 100%; width: 100%; position: absolute" align="center">
  <!--登录成功提示-->
  <div *ngIf="loginResponse != null">
    <ngb-alert [dismissible]="false" type="success" style="text-align: center">
      <h5>已登录成功！ 正在进入控制台……</h5>
    </ngb-alert>
  </div>
  <!--登录信息错误提示-->
  <div *ngIf="showMessage != null">
    <ngb-alert [dismissible]="false" type="danger" style="text-align: center">
      {{showMessage}}
    </ngb-alert>
  </div>
  <div class="col-3" (keyup.enter)="login(email.value, password.value)">
    <br><br>
    <img src="../../assets/img/logo.png" style="max-height: 80px">
    <h4 style="margin-top: 10px">Sign in to EasyCI</h4>
    <br>
    <div class="input-group mb-3">
      <span class="input-group-text">邮箱</span>
      <input #email type="email" class="form-control" placeholder="键入你的电子邮件">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">密码</span>
      <input #password type="password" class="form-control" placeholder="创建一个密码">
    </div>
    <button class="btn btn-success btn-lg" style="width: 100%"
            (click)="login(email.value, password.value)">登录
    </button>
    <hr class="my-3">
    <button class="btn btn-outline-secondary btn-lg" style="width: 100%" routerLink="/">
      第一次来？马上去注册
    </button>
  </div>
</div>
