<app-header></app-header>
<!--第一个 jumbotron 用于铺个底-->
<div class="jumbotron" style="margin-bottom: auto; height: 100%; width: 100%; position: absolute"></div>
<div class="jumbotron row" style="margin-bottom: auto; height: auto; width: 100%; position: absolute">
  <!--占位-->
  <div class="col-2"></div>
  <div class="col-8">
    <!--错误提示-->
    <div *ngIf="showMessage != null">
      <ngb-alert [dismissible]="false" type="danger" style="text-align: center">
        {{showMessage}}
      </ngb-alert>
    </div>
    <div *ngIf="flowDetailResponse != null">
      <div class="row" style="margin-top: 20px; margin-left: 5px;">
        <h3>
          <span class="oi oi-list small"></span>
          <b>我的工作流</b>
          <span class="badge badge-pill badge-warning">{{flowDetailResponse.flowDetails.length}}</span>
        </h3>
        <button class="btn btn-outline-secondary btn-sm"
                *ngIf="flowDetailResponse.flowDetails.length > 0"
                (click)="showHelp = !showHelp"
                style="text-align: right; margin: auto; margin-right: 16px;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="oi oi-question-mark" *ngIf="showHelp != true">&nbsp;&nbsp;如何开始&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span class="oi oi-action-undo" *ngIf="showHelp == true">&nbsp;&nbsp;&nbsp;仪表板&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </button>
      </div>
      <hr class="my-0">
      <div class="row" style="margin-top: 10px;" *ngIf="showHelp != true">
        <div class="col-4" *ngFor="let flowDetail of flowDetailResponse.flowDetails">
          <div class="card flowDetail" style="width: auto; margin-bottom: 25px;">
            <img class="card-img-top flowPlatform btn" routerLink="/flow/{{flowDetail.flow.name}}"
                 src="../../assets/img/platform-{{flowDetail.flow.platform}}.png" alt="Platform Icon">
            <button class="btn btn-outline-secondary" routerLink="/flow/{{flowDetail.flow.name}}/edit"
                    style="margin-left: 30px; margin-right: 30px;">
              <span class="oi oi-pencil"></span> &nbsp;编辑
            </button>
            <div class="card-body" style="text-align: center">
              <h5 class="card-title"><span class="oi oi-task small"></span> <b>{{flowDetail.flow.name}}</b></h5>
              <hr>
              <span class="badge badge-pill badge-secondary"
                    style="font-size: medium;margin-bottom: 10px;">历史：{{flowDetail.historySum}}</span>
              <br>
              <span class="badge badge-pill badge-success"
                    style="font-size: smaller;">成功：{{flowDetail.successSum}}</span>
              <span class="badge badge-pill badge-danger"
                    style="font-size: smaller;">失败：{{flowDetail.failureSum}}</span>
              <hr class="my-2">
              <ng-template #t let-fill="fill">
                <span class="star" [class.full]="fill === 100">
                  <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                </span>
              </ng-template>
              <ngb-rating rate="{{flowDetail.rating}}" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
              <hr class="my-1">
              <p><b>最后构建：{{flowDetail.lastBuildTime}}</b></p>
            </div>
          </div>
        </div>
      </div>
      <!--以下为首次注册登录显示的帮助信息-->
      <div *ngIf="flowDetailResponse.flowDetails.length == 0 || showHelp" style="margin-top: 10px;">
        <h4 style="margin-bottom: 30px; margin-left: 10px;">》如何开始一次构建</h4>
        <div class="row">
          <div class="col-5">
            <img class="helpImage" src="../../assets/img/how-create-flow.png" alt="How create flow"></div>
          <div class="col-7">
            <div class="card">
              <h4 class="card-header">① - 创建 Flow 并配置工作流</h4>
              <div class="card-body">
                <p class="card-text">● 点击左上角「工作流」，选择「新建」</p>
                <p class="card-text">● 填写项目名称，选择 Git 仓库源，勾选触发构建的分支</p>
                <p class="card-text">● 基于在线插件，配置需要的工作流</p>
                <p class="card-text">● 根据提示填写插件参数</p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-7">
            <div class="card">
              <h4 class="card-header">② - 可手动触发第一次构建</h4>
              <div class="card-body">
                <p class="card-text">● 点击「手动构建」按钮</p>
                <p class="card-text">● 选择要构建的分支</p>
                <p class="card-text">● 稍等片刻，构建任务就会开始运行</p>
                <p class="card-text">● 运行中可随时点击对应任务查看详情</p>
              </div>
            </div>
          </div>
          <div class="col-5">
            <img class="helpImage" src="../../assets/img/how-manual-trigger.png" alt="How create flow"></div>
        </div>
        <hr>
        <div class="row">
          <div class="col-5">
            <img class="helpImage" src="../../assets/img/how-git-trigger.png" alt="How create flow"></div>
          <div class="col-7">
            <div class="card">
              <h4 class="card-header">& - 日常可通过 git push 触发自动构建</h4>
              <div class="card-body">
                <p class="card-text">● 正常进行开发工作，完成一个小任务</p>
                <p class="card-text">● 本地提交并 push 到远程仓库</p>
                <p class="card-text">● 远程仓库会通过 WebHook 通知我们的 CI 系统</p>
                <p class="card-text">● EasyCI 触发器收到通知，按照预先配置开始构建</p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-7">
            <div class="card">
              <h4 class="card-header">③ - 通过仪表板查看整体构建情况</h4>
              <div class="card-body">
                <p class="card-text">● 点击顶部标题栏中央 Logo，回到首页</p>
                <p class="card-text">● 登录状态下会进入「仪表板」视图</p>
                <p class="card-text">● 这里综合展示了所有工作流的整体构建情况</p>
                <p class="card-text">● 包括构建历史、成功失败数、代码质量评级等</p>
              </div>
            </div>
          </div>
          <div class="col-5">
            <img class="helpImage" src="../../assets/img/how-watch-dashboard.png" alt="How create flow"></div>
        </div>
        <hr>
        <div class="card">
          <h4 class="card-header">说明：</h4>
          <div class="card-body">
            <p class="card-text">● 本程序暂仅支持基于 Gradle 构建的 Android 项目</p>
          </div>
        </div>
      </div>
      <hr class="my-xl-5">
      <div class="card">
        <h3 class="card-header">了解更多……</h3>
        <div class="card-body">
          <h5 class="card-title" style="margin-bottom: 20px;">更多帮助信息及有关本项目的介绍，点击右上角：<span style="color: #007bff;">我的 > 帮助 / 关于</span>
          </h5>
          <p class="card-text">● 本程序系个人毕业设计作品，线上平台仅供测试体验，个人数据可能随时被<b style="color: red;"> 清空！</b></p>
          <p class="card-text">● 项目已托管在
            <a href="https://github.com/EasyCI" target="_blank"><b style="font-size: larger;"> GitHub</b></a>
            ，推荐根据说明进行私有部署，在内部服务器或本机使用<b style="font-size: large;"> EasyCI</b> 。
          </p>
          <p class="card-text">● 同时，欢迎关注国内首套开源持续集成（CI）解决方案
            <b style="font-size: larger;"><u><i> flow.ci</i></u></b></p>
          <a href="https://flow.ci" target="_blank" class="btn btn-primary" style="margin-left: 10px;"><b>Go->
            flow.ci</b></a>
        </div>
      </div>
    </div>
    <!--页尾-->
    <div style="text-align: center">
      <hr class="my-4">
      Copyright © 2018 By LaoLiang. &nbsp;All Rights Reserved
    </div>
  </div>
</div>
