<app-header></app-header>
<!--第一个 jumbotron 用于铺个底-->
<div class="jumbotron" style="margin-bottom: auto; height: 100%; width: 100%; position: absolute"></div>
<div class="jumbotron" style="margin-bottom: auto; height: auto; width: 100%; position: absolute"
     *ngIf="dataReady == true">
  <!--错误提示-->
  <div *ngIf="showMessage != null">
    <ngb-alert [dismissible]="false" type="danger" style="text-align: center">
      {{showMessage}}
    </ngb-alert>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div *ngIf="currentBuildDetail.building" class="row">
      <h5>构建中</h5>
      <span class="d">&nbsp;.&nbsp;</span>
      <span class="d d-2">&nbsp;.&nbsp;</span>
      <span class="d d-3">&nbsp;.&nbsp;</span>
    </div>
    <div *ngIf="currentBuildDetail.success">
      <h5><strong style="color: limegreen;">&radic;</strong> 构建成功</h5>
    </div>
    <div *ngIf="currentBuildDetail.success == false">
      <h5><strong style="color: red;">&times;</strong> 构建失败</h5>
    </div>
    &nbsp;&nbsp;&nbsp;<p *ngIf="currentBuildDetail.manual">手动构建</p>
    <p *ngIf="currentBuildDetail.manual == false">自动构建</p>
    &nbsp;&nbsp;&nbsp;<p>构建于：{{currentBuildDetail.updatedAt.substring(5, 16)}}</p>
    &nbsp;&nbsp;&nbsp;<p>用时：{{currentBuildDetail.duration}}</p>
  </div>
  <ngb-tabset #t>
    <ngb-tab>
      <ng-template ngbTabTitle><b>&nbsp;&nbsp;&nbsp;&nbsp;●&nbsp;&nbsp;详细信息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
      </ng-template>
      <ng-template ngbTabContent>
        <hr class="my-0">

        项目名称：{{flowName}}<br>
        构建分支：{{currentBuildDetail.triggerBranch}}<br>
        开发平台：{{currentBuildDetail.platform}}<br>
        编译环境：{{currentBuildDetail.version}}<br>
        手动构建：{{currentBuildDetail.manual}}<br>
        用时：{{currentBuildDetail.duration}}<br>
        构建在：{{currentBuildDetail.updatedAt}}<br>

      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><b>&nbsp;&nbsp;&nbsp;&nbsp;●&nbsp;&nbsp;构建日志&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
      </ng-template>
      <ng-template ngbTabContent>
        <hr class="my-0">

        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
          <ngb-panel title="Simple">
            <ng-template ngbPanelContent>
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
              moon officia
              aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
              moon tempor,
              sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
              helvetica,
              craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
              Leggings
              occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
              accusamus
              labore sustainable VHS.
            </ng-template>
          </ngb-panel>
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <span>&#9733; <b>Fancy</b> title &#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
              moon officia
              aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
              moon tempor,
              sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
              helvetica,
              craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
              Leggings
              occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
              accusamus
              labore sustainable VHS.
            </ng-template>
          </ngb-panel>
        </ngb-accordion>

      </ng-template>
    </ngb-tab>
    <ngb-tab id="3">
      <ng-template ngbTabTitle><b>&nbsp;&nbsp;&nbsp;&nbsp;●&nbsp;&nbsp;产物存储&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
      </ng-template>
      <ng-template ngbTabContent>
        <hr class="my-0">

        Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee
        squid.
        <p>Exercitation +1 labore velit,
          shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher
          vero
          sint qui sapiente accusamus tattooed echo park.</p>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
