<app-header></app-header>
<!--第一个 jumbotron 用于铺个底-->
<div class="jumbotron" style="margin-bottom: auto; height: 100%; width: 100%; position: absolute"></div>
<div class="jumbotron" style="margin-bottom: auto; height: auto; width: 100%; position: absolute">
  <!--注册成功提示-->
  <div *ngIf="user != null">
    <ngb-alert [dismissible]="false" type="success" style="text-align: center">
      <h5>恭喜您注册成功！ 马上
        <a routerLink="/user/login"><strong>去登陆</strong></a>
      </h5>
    </ngb-alert>
  </div>
  <!--注册信息错误提示-->
  <div *ngIf="showMessage != null">
    <ngb-alert [dismissible]="false" type="danger" style="text-align: center">
      {{showMessage}}
    </ngb-alert>
  </div>
  <div class="row" style="margin-bottom: 50px">
    <!--左侧占位-->
    <div class="col-1"></div>
    <!--左侧巨幕-->
    <div class="col-6">
      <div class="jumbotron">
        <br><br><br><br>
        <h1 class="display-4">为开发人员打造</h1>
        <ul style="margin-left: -20px; margin-top: 20px;">
          <li>一款简易的持续集成（CI）系统</li>
          <li>编译、测试、打包、发布、通知全流程自动化</li>
          <li>基于强大灵活的插件系统</li>
          <li>轻松部署属于自己的 CI 服务</li>
        </ul>
        <hr class="my-2">
        <p class="small">本程序系个人毕业设计作品，线上平台仅供测试体验，个人数据可能随时被清空！<br>
          欢迎关注国内首套开源持续集成（CI）解决方案<strong style="color: #007bff; font-size: larger;"> flow.ci </strong>
        <p>
          <a class="btn btn-secondary" href="https://flow.ci" target="_blank">了解更多</a>
        </p>
      </div>
    </div>
    <!--注册与登录-->
    <div class="col-4" (keyup.enter)="register(username.value, email.value, password.value)">
      <br><br><br><br><br><br><br>
      <div class="input-group mb-3">
        <span class="input-group-text">邮箱</span>
        <input #email type="email" class="form-control" placeholder="键入你的电子邮件">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">昵称</span>
        <input #username type="text" class="form-control" placeholder="为账户起一个昵称">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">密码</span>
        <input #password type="password" class="form-control" placeholder="创建一个密码">
      </div>
      <button class="btn btn-success btn-lg" style="width: 100%"
              (click)="register(username.value, email.value, password.value)">
        注册开始 EasyCI
      </button>
      <hr class="my-3">
      <button class="btn btn-outline-secondary btn-lg" style="width: 100%" routerLink="/user/login">
        已有账号？去登录
      </button>
    </div>
  </div>
  <!--页尾-->
  <div style="text-align: center">
    <hr>
    Copyright © 2018 By LaoLiang. &nbsp;All Rights Reserved
  </div>
</div>
